<form
  [formGroup]="auctionForm"
  (ngSubmit)="onSubmit()"
  class="container mt-5"
  enctype="multipart/form-data"
>
  <div class="mb-3">
    <label for="PhotoPaths" class="form-label">Photos:</label>
    <input
      type="file"
      (change)="onFileChange($event)"
      name="file"
      #fileInput
      multiple
      accept=".jpg,.jpeg,.png,.jfif"
      class="form-control"
    />
    <div *ngIf="photoError" class="text-danger">
      {{ photoErrorMessage }}
    </div>
  </div>
  <div class="form-group">
    <label for="name" class="form-label">Name:</label>
    <input
      type="text"
      id="name"
      class="form-control"
      formControlName="name"
      pattern="[A-Za-z]+"
      required
      minlength="3"
      maxlength="200"
    />
    <p
      *ngIf="
        registerFormControl['name'].touched &&
        registerFormControl['name'].errors
      "
    >
      Name must be between 3 and 200 characters. Name can't be empty and should
      contain only characters.
    </p>
  </div>

  <div class="mb-3">
    <label for="country" class="form-label">Country:</label>
    <input
      type="text"
      id="country"
      class="form-control"
      formControlName="country"
      pattern="[A-Za-z]+"
      required
      minlength="1"
      maxlength="200"
    />
    <p
      *ngIf="
        registerFormControl['country'].touched &&
        registerFormControl['country'].errors
      "
    >
      Country can't be empty and should contain only characters.
    </p>
  </div>

  <div class="mb-3">
    <label for="city" class="form-label">City:</label>
    <input
      type="text"
      id="city"
      class="form-control"
      formControlName="city"
      pattern="[A-Za-z]+"
      required
      minlength="1"
      maxlength="200"
    />
    <p
      *ngIf="
        registerFormControl['city'].touched &&
        registerFormControl['city'].errors
      "
    >
      City can't be empty and should contain only characters.
    </p>
  </div>

  <div class="mb-3">
    <label for="starting_price" class="form-label">Starting Price:</label>
    <input
      type="number"
      id="starting_price"
      class="form-control"
      formControlName="starting_price"
      required
      min="0.01"
      max="1000000"
      step="0.01"
      pattern="^[0-9]+(\.[0-9]+)?$"
    />
    <p
      *ngIf="
        registerFormControl['starting_price'].touched &&
        registerFormControl['starting_price'].errors?.['required']
      "
    >
      Starting price can't be empty
    </p>
    <p
      *ngIf="
        registerFormControl['min_buy_price'].touched &&
        registerFormControl['min_buy_price'].errors?.['pattern']
      "
    >
      Starting price must be a non-negative number
    </p>
    <p
      *ngIf="
        registerFormControl['starting_price'].touched &&
        registerFormControl['starting_price'].errors?.['min']
      "
    >
      Starting price must be greater than 0
    </p>
    <p
      *ngIf="
        registerFormControl['starting_price'].touched &&
        registerFormControl['starting_price'].errors?.['max']
      "
    >
      Starting price must be less than 1,000,000
    </p>
  </div>

  <div class="mb-3">
    <label for="bid_ammount" class="form-label">Bid Amount:</label>
    <input
      type="number"
      id="bid_ammount"
      class="form-control"
      formControlName="bid_ammount"
      required
      min="0.01"
      max="1000000"
      pattern="^[0-9]+(\.[0-9]+)?$"
    />
    <p
      *ngIf="
        registerFormControl['bid_ammount'].touched &&
        registerFormControl['bid_ammount'].errors?.['required']
      "
    >
      Bid amount can't be empty
    </p>
    <p
      *ngIf="
        registerFormControl['bid_ammount'].touched &&
        registerFormControl['bid_ammount'].errors?.['min']
      "
    >
      Bid amount must be greater than 0
    </p>
    <p
      *ngIf="
        registerFormControl['min_buy_price'].touched &&
        registerFormControl['min_buy_price'].errors?.['pattern']
      "
    >
      Bid amount must be a non-negative number
    </p>
    <p
      *ngIf="
        registerFormControl['bid_ammount'].touched &&
        registerFormControl['bid_ammount'].errors?.['max']
      "
    >
      Bid amount must be less than 1,000,000
    </p>
  </div>

  <div class="mb-3">
    <label for="min_buy_price" class="form-label">Min Buy Price:</label>
    <input
      type="text"
      id="min_buy_price"
      class="form-control"
      formControlName="min_buy_price"
      required
      min="0.01"
      pattern="^[0-9]+(\.[0-9]+)?$"
      inputmode="numeric"
      title="Min buy price must be a non-negative number"
      [min]="registerFormControl['starting_price'].value"
    />
    <p
      *ngIf="
        registerFormControl['min_buy_price'].touched &&
        registerFormControl['min_buy_price'].errors?.['required']
      "
    >
      Min buy price can't be empty
    </p>
    <p
      *ngIf="
        registerFormControl['bid_ammount'].touched &&
        registerFormControl['bid_ammount'].errors?.['min']
      "
    >
      Min buy price must be greater than 0
    </p>
    <p
      *ngIf="
        registerFormControl['min_buy_price'].touched &&
        registerFormControl['min_buy_price'].errors?.['pattern']
      "
    >
      Min buy price must be a non-negative number
    </p>
    <p
      *ngIf="
        registerFormControl['min_buy_price'].touched &&
        registerFormControl['min_buy_price'].errors?.['min']
      "
    >
      Min buy price must be greater than 0
    </p>
    <p
      *ngIf="
        registerFormControl['min_buy_price'].touched &&
        registerFormControl['min_buy_price'].errors?.['max']
      "
    >
      Min buy price must be less than 1,000,000
    </p>
    <p
      *ngIf="
        registerFormControl['min_buy_price'].touched &&
        registerFormControl['min_buy_price'].value <
          registerFormControl['starting_price'].value
      "
    >
      Min buy price must be greater than or equal to the starting price
    </p>
    <p
      *ngIf="
        registerFormControl['min_buy_price'].touched &&
        registerFormControl['min_buy_price'].errors?.['invalidPrice']
      "
    >
      Min buy price must be greater than the starting price
    </p>
  </div>

  <div class="mb-3">
    <label for="buy_now_price" class="form-label">Buy Now Price:</label>
    <input
      type="text"
      min="0.01"
      id="buy_now_price"
      class="form-control"
      formControlName="buy_now_price"
      required
      pattern="^[0-9]+(\.[0-9]+)?$"
      inputmode="numeric"
      title="Buy now price must be a non-negative number"
      [min]="registerFormControl['starting_price'].value"
    />
    <p
      *ngIf="
        registerFormControl['buy_now_price'].touched &&
        registerFormControl['buy_now_price'].errors?.['required']
      "
    >
      Buy now price can't be empty
    </p>
    <p
      *ngIf="
        registerFormControl['bid_ammount'].touched &&
        registerFormControl['bid_ammount'].errors?.['min']
      "
    >
      Buy now price must be greater than 0
    </p>
    <p
      *ngIf="
        registerFormControl['buy_now_price'].touched &&
        registerFormControl['buy_now_price'].errors?.['pattern']
      "
    >
      Buy now price must be a non-negative number
    </p>
    <p
      *ngIf="
        registerFormControl['buy_now_price'].touched &&
        registerFormControl['buy_now_price'].value <
          registerFormControl['starting_price'].value
      "
    >
      Buy now price must be greater than or equal to the starting price
    </p>
    <p
      *ngIf="
        registerFormControl['buy_now_price'].touched &&
        registerFormControl['buy_now_price'].errors?.['min']
      "
    >
      Buy now price must be greater than 0
    </p>
    <p
      *ngIf="
        registerFormControl['buy_now_price'].touched &&
        registerFormControl['buy_now_price'].errors?.['max']
      "
    >
      Buy now price must be less than 1,000,000
    </p>

    <p
      *ngIf="
        registerFormControl['buy_now_price'].touched &&
        registerFormControl['buy_now_price'].errors?.['invalidPrice']
      "
    >
      Buy now price must be greater than the starting price
    </p>
  </div>

  <div class="mb-3">
    <label for="auction_start_time" class="form-label"
      >Auction Start Time:</label
    >
    <input
      type="datetime-local"
      id="auction_start_time"
      class="form-control"
      formControlName="auction_start_time"
    />
    <p
      *ngIf="registerFormControl['auction_start_time'].touched && registerFormControl['auction_start_time'].errors?.['required']"
    >
      Auction start time is required.
    </p>
    <p
      *ngIf="registerFormControl['auction_start_time'].touched && registerFormControl['auction_start_time'].errors?.['invalidAuctionStartTime']"
    >
      Auction start time must be within the range of 1 minute ago to 30 days
      from now.
    </p>
  </div>

  <div class="mb-3">
    <label for="auction_end_time" class="form-label">Auction End Time:</label>
    <input
      type="datetime-local"
      id="auction_end_time"
      class="form-control"
      formControlName="auction_end_time"
    />
    <p
      *ngIf="registerFormControl['auction_end_time'].touched && registerFormControl['auction_end_time'].errors?.['required']"
    >
      Auction end time is required.
    </p>
    <p
      *ngIf="registerFormControl['auction_end_time'].touched && registerFormControl['auction_end_time'].errors?.['invalidAuctionEndTime']"
    >
      Auction end time must be at least 1 day after the auction start time and
      within 30 days of the auction start time.
    </p>
  </div>

  <div class="mb-3">
    <label for="category" class="form-label">Category:</label>
    <select
      id="category"
      class="form-control"
      formControlName="category"
      required
    >
      <option value="Art">Art</option>
      <option value="Technology">Technology</option>
      <option value="Jewellery">Jewellery</option>
      <option value="Transportation">Transportation</option>
      <option value="Fashion">Fashion</option>
      <option value="Sports">Sports</option>
      <option value="History">History</option>
      <option value="Toys">Toys</option>
      <option value="Other">Other</option>
    </select>
    <p
      *ngIf="
        registerFormControl['category'].touched &&
        registerFormControl['category'].errors
      "
    >
      Category can't be empty
    </p>
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description:</label>
    <textarea
      id="description"
      class="form-control"
      formControlName="description"
      required
      minlength="3"
      maxlength="300"
    ></textarea>
    <p
      *ngIf="
        registerFormControl['description'].touched &&
        registerFormControl['description'].errors
      "
    >
      Description must be between 3 and 300 characters.
    </p>
  </div>

  <div class="mb-3">
    <label for="item_build_year" class="form-label">Item Build Year:</label>
    <input
      type="text"
      id="item_build_year"
      class="form-control"
      formControlName="item_build_year"
      required
    />
    <p
      *ngIf="
        registerFormControl['item_build_year'].touched &&
        registerFormControl['item_build_year'].errors
      "
    >
      Item biuld year can't be empty
    </p>
  </div>

  <div class="mb-3">
    <label for="item_mass" class="form-label">Item Mass in kg's:</label>
    <input
      type="number"
      id="item_mass"
      class="form-control"
      formControlName="item_mass"
      required
    />
    <p
      *ngIf="
        registerFormControl['item_mass'].touched &&
        registerFormControl['item_mass'].errors
      "
    >
      Item mass can't be empty
    </p>
  </div>

  <div class="mb-3">
    <label for="condition" class="form-label">Condition:</label>
    <select
      id="condition"
      class="form-control"
      formControlName="condition"
      required
    >
      <option value="New">New</option>
      <option value="Slightly used">Slightly used</option>
      <option value="Worn">Worn</option>
      <option value="Restored">Restored</option>
      <option value="Damaged">Damaged</option>
    </select>
    <p
      *ngIf="
        registerFormControl['condition'].touched &&
        registerFormControl['condition'].errors
      "
    >
      Condition can't be empty
    </p>
  </div>

  <div class="mb-3">
    <label for="material" class="form-label">Material:</label>
    <select
      id="material"
      class="form-control"
      formControlName="material"
      required
    >
      <option value="Metal">Metal</option>
      <option value="Plastic">Plastic</option>
      <option value="Rubber">Rubber</option>
      <option value="Glass">Glass</option>
      <option value="Wood">Wood</option>
      <option value="Multiple materials">Multiple materials</option>
      <option value="Other">Other</option>
    </select>
    <p
      *ngIf="
        registerFormControl['material'].touched &&
        registerFormControl['material'].errors
      "
    >
      Material can't be empty
    </p>
  </div>

  <p>
    <button
      class="btn btn-success add-record-button"
      type="submit"
      style="margin-top: 20px"
      [disabled]="auctionForm.invalid"
    >
      {{ submitButton }}
    </button>
  </p>
  <p>
    <button
      type="button"
      class="btn btn-outline-danger"
      [routerLink]="['/auction']"
    >
      Back
    </button>
  </p>
</form>
