.report-modal {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.report-modal h3 {
  margin-bottom: 10px;
}

.report-modal p {
  margin-bottom: 10px;
}

.options {
  margin-bottom: 10px;
}

.mat-radio-button {
  display: block;
}

.submit-button {
  text-align: center;
}

.submit-button button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button button:hover {
  background-color: #0056b3;
}
