<div *ngIf="auction" class="auction-details">
  <h2>Auction Information</h2>
  <div class="auction-card">
    <div class="auction-card-content">
      <div class="auction-card-item">
        <span class="auction-label">Name:</span>
        <span class="auction-value">{{ auction.name }}</span>
      </div>
      <div class="auction-card-item">
        <span class="auction-label">
          {{ auction.auction_ended ? "Winning bid:" : "Buy now price:" }}
        </span>
        <span class="auction-value">
          {{
            auction.auction_ended
              ? auction.bidding_amount_history![
                  auction.bidding_amount_history!.length - 1
                ]
              : auction.buy_now_price
          }}
          €
        </span>
      </div>
      <div class="auction-card-item">
        <span class="auction-label">Auction description:</span>
        <span class="auction-value">{{ auction.description }}</span>
      </div>
      <div class="auction-card-item">
        <span class="auction-label">Country:</span>
        <span class="auction-value">{{ auction.country }}</span>
      </div>
      <div class="auction-card-item">
        <span class="auction-label">City:</span>
        <span class="auction-value">{{ auction.city }}</span>
      </div>
      <div class="auction-card-item">
        <span class="auction-label">Is paid:</span>
        <span class="auction-value">{{ auction.is_Paid ? 'Yes' : 'No' }}</span>
      </div>    
      <div class="auction-card-item">
        <span class="auction-label">Item mass:</span>
        <span class="auction-value">{{ auction.item_mass }}</span>
      </div>
      <div class="auction-card-item">
        <span class="auction-label">Item biuld year:</span>
        <span class="auction-value">{{ auction.item_build_year }}</span>
      </div>
      <div class="auction-card-item">
        <span class="auction-label">Condition:</span>
        <span class="auction-value">{{ auction.condition }}</span>
      </div>
      <div class="auction-card-item">
        <span class="auction-label">Material:</span>
        <span class="auction-value">{{ auction.material }}</span>
      </div>
    </div>
  </div>
</div>

<div class="paypal-container" *ngIf="!auctionPaid">
  <h3>{{ header }}</h3>
  <div class="paypal-button" id="PaypalButton"></div>
</div>
